<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Summary</title>
    <link rel="stylesheet" href="whatsup.css">
</head>

<body>
    <h1>Here's what we heard from all of you</h1>
    <br />
    <p><%=fullFile%></p>
    <br />
    <br />
    <a href="/">return</a>
</body>


</html>